/*
    Copyright © 2024 - IPR Jardim Jacarandá
    File: globals.css
    Version: 1.0.0
    ~ Coded by Gustavo Benini
*/

:root {
  /* sm: 12px → 16px */
  --fs-sm: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  /* p: 16px → 18px */
  --fs-p: clamp(1rem, 0.9697rem + 0.1294vw, 1.125rem);
  /* h6: 19.2px → 22.5px */
  --fs-h6: clamp(1.2rem, 1.1499rem + 0.2136vw, 1.4063rem);
  /* h5: 23.04px → 28.125px */
  --fs-h5: clamp(1.44rem, 1.3629rem + 0.3291vw, 1.7578rem);
  /* h4: 27.648px → 35.1563px */
  --fs-h4: clamp(1.728rem, 1.6141rem + 0.486vw, 2.1973rem);
  /* h3: 33.1776px → 43.9453px */
  --fs-h3: clamp(2.0736rem, 1.9103rem + 0.6969vw, 2.7466rem);
  /* h2: 39.8131px → 54.9316px */
  --fs-h2: clamp(2.4883rem, 2.259rem + 0.9785vw, 3.4332rem);
  /* h1: 47.7757px → 68.6646px */
  --fs-h1: clamp(2.986rem, 2.6691rem + 1.352vw, 4.2915rem);

  --fw-300: 300;
  --fw-400: 475;
  --fw-500: 550;
  --fw-700: 700;
  --fw-900: 900;

  --ff-inter: "Inter", -apple-system, BlinkMacSystemFont, Tahoma, sans-serif;

  --clr-primary-100: hsl(0, 0%, 96%);
  --clr-primary-900: hsl(225, 10%, 10%);
  --clr-accent-700: hsl(225, 90%, 73%);
  --clr-alpha-100: hsla(0, 0%, 100%, 0.2);
  --clr-alpha-800: hsla(0, 0%, 40%, 0.35);
  --clr-alpha-900: hsla(0, 0%, 0%, 0.75);

  --gr-preloader: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--clr-primary-900) 33.33% 50%,
    transparent 66.66% 75%
  );

  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;
  --padding-32: 2rem;
  --padding-64: 4rem;

  --header-v-padding: clamp(0.625rem, 0.7036rem + 0.7278vw, 1.75rem);
  --page-width: min(85ch, 100% - 2rem);
  --logo-size: clamp(1.75rem, 1.568rem + 0.7767vw, 2.5rem);

  --tr-quick: 250ms ease;
  --tr-medium: 500ms ease;
  --tr-slow: 750ms ease;
}

/* Reset */
* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a,
button {
  cursor: pointer;
}

img,
svg,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-aligned {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.scroll-lock {
  overflow: hidden;
}

.overlay {
  border-image: fill 1
    linear-gradient(hsl(240 100% 20% / 0.6), hsl(0 100% 20% / 0.6));
}

.page-width {
  margin-inline: auto;
  max-width: var(--page-width);
}

/* General Definitions */
body {
  font-family: var(--ff-inter);
  font-weight: var(--fw-400);
}

p {
  font-size: var(--fs-p);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    /* scroll-padding-top: 3rem <- adjusts top space in scrolling */
  }
}
